Native SSC Bug Tracker Configuration

  When submitting vulnerability data through a native SSC bug tracker integration, the 
configuration file must include configures SSC-related functionality. The following example 
shows a full bean definition, listing all available properties and corresponding description.

%{snippet|id=bean|file=$basedir/src/site/snippets/TargetConfigurationSSC.xml}

