SSC Application Versions Source Configuration

    FortifyBugTrackerUtility can automatically select SSC application versions to be processed, 
and map application versions to command line options, for example to map individual application
versions to corresponding target projects.  
The following example shows a full bean definition, listing all available properties and corresponding 
description. Note that this bean is optional; if not defined the utility will process all releases unless
specific releases are specified on the command line.

%{snippet|id=bean|file=$basedir/src/site/snippets/SourceConfigurationSSCApplicationVersions.xml}

