FoD Vulnerabilities Source Configuration

  When loading vulnerability data from FoD, the configuration file must include a bean
definition that configures FoD-related functionality. The following example shows a full 
bean definition, listing all available properties and corresponding description.

%{snippet|id=bean|file=$basedir/src/site/snippets/SourceConfigurationFoDVulnerabilities.xml}

