ALM Octane Configuration

  When submitting vulnerability data to ALM Octane, the configuration file must include 
a bean definition that configures Octane-related functionality. The following example shows a 
full bean definition, listing all available properties and corresponding description.

%{snippet|id=bean|file=$basedir/src/site/snippets/TargetConfigurationOctane.xml}

