<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  ~ (C) Copyright 2015-2018 Micro Focus or one of its affiliates.
  -->

<plugin>
	<extension point="com.fortify.awb.bugtracker">
		<bugtracker class="com.fortify.pub.bugtracker.plugin.addexistingbug.AddExistingBugBugTrackerPlugin" />
	</extension>
</plugin>
