#parse("util.vm")

# ALM Octane Configuration

When submitting vulnerability data to ALM Octane, the configuration file must include 
a bean definition that configures Octane-related functionality. 

This configuration is defined using the following bean definition in the configuration file:

`#printTagByMatch("config/SSCToOctane.xml" "OctaneTargetConfiguration")`

This bean definition supports the following properties:

#printAbstractTargetUpdateIssuesWithTransitionsConfiguration("Octane")

Following are examples of the bean configuration:

For SSC:

```xml
#printTagByMatchWithContents("config/SSCToOctane.xml" "OctaneTargetConfiguration")
```

For FoD:

```xml
#printTagByMatchWithContents("config/FoDToOctane.xml" "OctaneTargetConfiguration")
```