#parse("util.vm")

# Default values for CLI options
Every configuration file can contain a util:map bean with id `cliOptionsDefaultValues`. This bean can contain a map of
default values for one or more command line options. In this map, the key specifies the name of the 
command line option, and the value specifies the corresponding default value. For example, you can use this approach
for defining default values for source and target system URL's and credentials, such that these no longer need to be
manually specified on the command line.

For example, you could define default SSC URL and credentials using the following bean definition in your configuration
file:

```xml
#printTagByMatchWithContents("config-snippets/CLIOptionsDefaultValues.xml" "cliOptionsDefaultValues")
```

Note that each configuration file may only have one such element.


