#parse("util.vm")

# Microsoft TFS Configuration

When submitting vulnerability data to Microsoft TFS, the configuration file must include 
a bean definition that configures TFS-related functionality. 

This configuration is defined using the following bean definition in the configuration file:

`#printTagByMatch("config/SSCToTFS.xml" "TFSTargetConfiguration")`

This bean definition supports the following properties:

#printAbstractTargetUpdateIssuesWithTransitionsConfiguration("TFS")

Following are examples of the bean configuration:

For SSC:

```xml
#printTagByMatchWithContents("config/SSCToTFS.xml" "TFSTargetConfiguration")
```

For FoD:

```xml
#printTagByMatchWithContents("config/FoDToTFS.xml" "TFSTargetConfiguration")
```
