#parse("util.vm")

# RSA Archer Configuration

When submitting vulnerability data to RSA Archer, the configuration file must include 
a bean definition that configures Archer-related functionality.

This configuration is defined using the following bean definition in the configuration file:

`#printTagByMatch("config/SSCToArcher.xml" "ArcherTargetConfiguration")`

This bean definition supports the following properties:

#printAbstractTargetSubmitOnlyConfiguration("Archer")

Following are examples of the bean configuration:

For SSC:

```xml
#printTagByMatchWithContents("config/SSCToArcher.xml" "ArcherTargetConfiguration")
```

For FoD:

```xml
#printTagByMatchWithContents("config/FoDToArcher.xml" "ArcherTargetConfiguration")
```

