#parse("util.vm")

# Atlassian Jira Configuration

When submitting vulnerability data to Atlassian Jira, the configuration file must include 
a bean definition that configures Jira-related functionality. 

This configuration is defined using the following bean definition in the configuration file:

`#printTagByMatch("config/SSCToJira.xml" "JiraTargetConfiguration")`

This bean definition supports the following properties:

#printAbstractTargetUpdateIssuesWithTransitionsConfiguration("Jira")

Following are examples of the bean configuration:

For SSC:

```xml
#printTagByMatchWithContents("config/SSCToJira.xml" "JiraTargetConfiguration")
```

For FoD:

```xml
#printTagByMatchWithContents("config/FoDToJira.xml" "JiraTargetConfiguration")
```