#macro( printAbstractTargetSubmitOnlyConfiguration $targetSystemName )
#set( $propertyMap = {
	"groupTemplateExpression": "TODO",
	"fields": "TODO",
	"appendedFields": "TODO"
})
#printProperties($propertyMap)
#end