#macro( printFoDSourceVulnerabilitiesConfigurationProperties )
#set( $propertyMap = {
	"filterStringForVulnerabilitiesToBeSubmitted": "Set the FoD filter string to get the list of vulnerabilities to be submitted to
		     the external system. Information about the format of this filter string can be
		     found in the FoD API documentation, and you can use the FoD API Explorer to test
		     your filter strings.",
	"addNativeBugLink": "In most cases, FortifyBugTrackerUtility will need to keep track of which
			FoD vulnerabilities have been submitted to which target issues, for example to avoid
			re-submitting vulnerabilities that have been submitted previously, and to perform state
			management. If this property is set to `true`, information about submitted target issues
			will be stored as native FoD bug links. Alternatively, bug links can be stored in FoD 
			vulnerability comments; see the `addBugDataAsComment` property below. Note that storing
			native bug links is the recommended approach for the primary bug tracker integration, as this
			provides better user experience (users can click the 'View Bug' button to navigate to the 
			corresponding target issue), and results in better performance during bug state management.",
	"allowedBugTrackerTypes": "When adding native bug links, the utility can check whether the FoD application
			has been configured with one of the bug tracker types listed in this property. The utility will 
			reject submitting any vulnerabilities to a target system if the bug tracker configured on FoD does 
			not match any of the allowed bug tracker types listed in this property. The special value `None`
			can be used to match any FoD applications that do not have a bug tracker configured; this is
			only supported on FoD 20.2 and higher. This property will be ignored if `addNativeBugLink` 
			is set to false, or if this property is set to an empty list. For backward compatibility, the 
			default value of this property is `Other`. Most common is to use either '`Other`' or 
			'`None, Other`', with the latter allowing the utility to process release for which no bug tracker 
			has been explicitly configured on FoD.",
	"addBugDataAsComment": "As an alternative to the `addNativeBugLink` property, information about submitted 
			target issues will be stored as FoD vulnerability comments if this property is set to `true`. Note
			that this is only recommended if the native FoD bug link field is to be used for other purposes
			(for example if vulnerabilities are to be submitted to multiple external systems), or if you have
			been running the utility with `addBugDataAsComment` enabled in the past. Changing between the
			two methods for storing the bug link will result in all vulnerabilities being resubmitted.",
	"commentTargetName": "By default, FortifyBugTrackerUtility will use the target name to identify
			relevant vulnerability comments. This property allows you to override the target name,
			for example if you want to submit vulnerabilities to multiple instances of the same target
			system, like a Jira system used by development teams, and another Jira system used for
			risk management. Note that if you change this after vulnerabilities have already been
			submitted to a target system, FortifyBugTrackerUtility will no longer consider these
			vulnerabilities as having been submitted previously.",
	"commentTemplateExpression": "This property can be used to fully customize the format of 
			vulnerability comments for submitted target issues. This is an SpEL template expression that
			can optionally reference the `id` property and must reference the `deepLink` property. 
			Use with care, as FortifyBugTrackerUtility may be unable to identify already submitted
			vulnerabilities in case of an incorrect expression. Note that if you change this after 
			vulnerabilities have already been submitted to a target system, FortifyBugTrackerUtility 
			will no longer consider these vulnerabilities as having been submitted previously."
})
#printProperties($propertyMap)
#printAbstractSourceVulnerabilitiesConfigurationProperties("FoD" "closedStatus==false && isSuppressed==false && status!=4")
#end

